<div class="container">
	<div class="form-div">
	<p>ユーザー検索</p>
		<%= search_form_for(@q, url:admins_users_path) do |f| %>
          <%= f.label :last_name_cont, '苗字' %>
          <%= f.search_field :last_name_cont %>
          <%= f.submit %>
        <% end %>
  		<table class="table">
		<thead>
			<h1>ユーザー一覧</h1>
			<td> 名前(姓・名)</td>
			<td> 電話番号</td>
		</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.last_name %> <%= user.first_name %></td>
						<td><%= user.tell %></td>
						<td><%= link_to "詳細", admins_user_path(user.id), class: "btn blue-btn" %></td>
					</tr>
			</tbody>
		<% end %>
		</table>
		<%= paginate @users %>
	</div>
</div>