<h1>ユーザー詳細</h1>


<div class="admin_user_show">
	<table width="80%">
		<tbody>
			<tr>
				<td>名前（姓・名)</td>
				<td><%= @user.last_name %> <%= @user.first_name %></td>
			</tr>
			<tr>
				<td>名前（かな）</td>
				<td><%= @user.last_kana %> <%= @user.first_kana %></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td><%= @user.postal_code %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><%= @user.address %></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><%= @user.tell %></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td><%= @user.email %></td>
			</tr>
		</tbody>
    </table>

	<%= link_to "戻る", admins_users_path(@user),class: 'btn btn-primary' %>

	<%= link_to "編集", edit_admins_user_path(@user.id), class: 'btn btn-primary' %>

	<%= link_to "削除", admins_user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger"%>

</div>






























