<h1 class="head-text">CD新規追加</h1>


<!-- 下記の様に指定することで、adminのコントローラからインスタンス変数を持ってくることができる -->
<%= form_for([:admins, @item]) do |f| %>

<div class="image-new">
	<%= f.attachment_field :image %>
</div>

<table class="admin_item_new">
	<tbody>
			<tr>
				<td>アーティスト</td>
				<td><%= f.text_field :artist %></td>
			</tr>
			<tr>
				<td>シングル・アルバム名</td>
				<td><%= f.text_field :title_name %></td>
			</tr>
			<tr>
				<td>レーベル名</td>
				<td><%= f.text_field :label %></td>
			</tr>
			<tr>
				<td>ジャンル</td>
				<td><%= f.select :genre_name, [["J-Pop", "J-Pop"], ["K-Pop", "K-Pop"], ["R&B/ソウル", "R&B/ソウル"], ["ダンス", "ダンス"], ["Jazz", "Jazz"], ["Pop", "Pop"], ["Rock", "Rock"], ["その他", "その他"]] ,class:"form-control" %></td></td>
			</tr>
			<tr>
				<td>収録曲</td>
				 <%= fields_for @song do |song| %>
				    <td><%= song.text_field :song_title %>
					
				</td>
  				<% end %>

			</tr>
			<tr>
				<td>値段</td>
				<td><%= f.text_field :price %></td>
			</tr>
			<tr>
				<td>在庫数</td>
				<td><%= f.text_field :stock %></td>
			</tr>
	</tbody>
</table>

<div class="edit-back">
	<%= f.submit '投稿',class: 'btn btn-primary' %>
	<%= link_to "戻る", admins_items_path(@item), class: 'btn btn-primary' %>
</div>

<% end %>