<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="heading">
        <p>Genre</p>
      </div>
      <ul class="genre_list">
      <% @genres.each do |genre| %>
        <%= link_to items_path,target: "self" do %>
          <li><%= genre.genre_name %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="heading">
        <p>Music</p>
      </div>
      <ul class="items_list">
      <% @items.each do |item| %>
        <li>
          <ul class="items">
            <%= link_to item_path(item.id) do %>
              <li>
                  <%= attachment_image_tag item, :image, :fill, 120, 120, format: 'png', class: "" %>
              </li>
              <li><%= item.title_name %></li>
              <li><%= item.artist %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
