<div class="container">
 <div class="row">
   <div class="col-md-3">
     <div class="logo user_logo">
       BIGAPPLE
     </div>
   </div>
   <div class="col-md-9">
     <div class="row">
       <div class="col-md-12">
         <!--商品検索フォーム-->
         <% if request.path == root_path || request.path == items_path ||request.path.include?('items/') %>
           <%= search_form_for @q,enforce_utf8: false do |f| %>
             <%= f.search_field :title_name_cont %>
             <span class="glyphicon glyphicon-search search_icon"></span>
           <% end %>
         <% end %>
       </div>
     </div>
     <div class="row">
       <div class="col-md-12">
         <div class="nav">
           <ul>
             <% if user_signed_in? %>
               <li>UserName:　<%= current_user.last_name %>  <%= current_user.first_name %> 　　</li>
               <li><%= link_to '　Home',root_path %></li>
               <li><%= link_to '　My Page',user_path(current_user.id) %></li>
               <li><%= link_to '　View Cart', '#' %></li>
               <li><%= link_to '　Sign out',destroy_user_session_path, method: :delete %></li>
             <% else %>
               <li><%= link_to '　Home',items_path %></li>
               <li><%= link_to '　Sign in',new_user_session_path %></li>
               <li><%= link_to '　Sign up',new_user_registration_path %></li>
             <% end %>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
