<!DOCTYPE html>
<html>
  <head>
    <title>EC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo user_logo">
              BIGAPPLE
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <!--商品検索フォーム-->
                <input type="text" class="itemname-search-txt">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="nav">
                  <ul>
                    <% if user_signed_in? %>
                      <li><%= link_to 'My Page','#' %></li>
                      <li><%= link_to 'View Cart', '#' %></li>
                      <li><%= link_to 'Sign out',destroy_user_session_path, method: :delete %></li>
                    <% else %>
                      <li><%= link_to 'Home',items_path %></li>
                      <li><%= link_to 'Sign in',new_user_session_path %></li>
                      <li><%= link_to 'Sign up',new_user_registration_path %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright © 2018 BIG APPLE. All Rights Reserved.
    </footer>
  </body>
</html>
